body{
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
input{
    border-radius: 12px;
    
}
label{
    color: white;
}
button{
    background-color: white;
    border-radius: 12px;
}
.abc{
    margin: 12px;
}
